.maink-content{
    width: auto;
    height: 100px;
    display: block;
}

.maink-container-content{
    height: 100%;
    display: table;
    float: left;
}

.maink-container-content h1{
    font-weight: bold;
    position: relative;
    height: 500%;
    width: 80%;
    left: 69%;
    bottom: -130px;
}

.maink-content2{
    width: auto;
    height: 100px;
    display: block;
}

.maink-container-content2{
    width: auto;
    height: 100%;
    display: table;
    float: left;
}

.maink-container-content2 p{
    font-weight: normal;
    font-size: 30px;
    position: relative;
    bottom: -70px;
    left: 150px;
}

.maink-content3{
    position: relative;
    width: 20%;
    height: 70px;
    background: #ffd600;
    margin: -10em 10em 0 auto;
    border-radius: 70px;
}

.maink-content3 h1{
    position: static;
    font-weight: bold;
    font-size: 30px;
    margin: 2em;
    padding: 15px;
}

.icon-shop{
    margin: -106px -2em;
}

.maink-content4{
    position: static;
    width: 20%;
    height: 70px;
    background: #ffd600;
    margin: 0.4em 10em 0 auto;
    border-radius: 70px;
}

.maink-content4 h1{
    position: static;
    font-weight: bold;
    font-size: 30px;
    padding: 15px;
    margin: 0px 2em;
}

.icon-tool{
    margin: -45px -2em;
}

.maink-content5{
    position: relative;
    width: 20%;
    height: 70px;
    background: #ffd600;
    margin: 0.4em 10em 0 auto;
    border-radius: 70px;
}

.maink-content5 h1{
    position: static;
    font-weight: bold;
    font-size: 30px;
    padding: 15px;
    margin: 0px 2em;
}

.icon-book{
    margin: -45px -2em;
}

.maink-content-text{
    position: absolute;
    bottom: -2.5em;
    left: 75px;
    font-size: 30px;
}

.maink-content-image{
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
    top: 500px;
}

.maink-back_image{
    position: absolute;
    bottom: -10em;
    width: 100%;
    height: 500px;
}

.maink-content-image-box{
    width: auto;
    height: 100px;
    display: block;
}

.maink-front-box{
    position: relative;
    margin: 100px;
    bottom: -650px;
    background-image: url("maink-front-box");
    height: 350%;
    width: 40%;
}

.maink-front-box2{
    position: relative;
    margin: 100px;
    bottom: -100px;
    left: 45%;
    height: 350px;
    width: 40%;
    background-image: url("maink-front-box2");
}

#maink-footer{
    position: relative;
    height: 150px;
    background-color: #ffd600;
    margin-top: 120px;
    clear: both;
}

.maink-footer-text{
    position: absolute;
    font-size: 20px;
    left: 35%;
    top: 50px;
}

.maink-footer-text2{
    position: absolute;
    font-size: 20px;
    left: 25%;
    top: 70px;
}

.maink-footer-text3{
    position: absolute;
    font-size: 20px;
    left: 26%;
    top: 90px;
}

.maink-kronos_logo_footer{
    position: absolute;
    bottom: 1em;
    width: 100px;
    left: 30px;
}

.maink-footer-icons{
    width: auto;
    height: 100px;
    display: block;
}

.maink-footer-icon-insta{
    position: relative;
    left: 96%;
    top: 50px;
}

.maink-footer-icon-yout{
    position: relative;
    left: 96%;
    top: 65px;
    display: block;
    cursor: pointer;
}